<% provide(:title, @user.name) %>
<div class="container">

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>

  <div class="dl-horizontal">
    <dt>Your skills</dt>
    <dd>
      <% @user.skills.each do |skill| %>
        <a href="<%= skill_url(skill) %>" class="btn btn-default">
          <%= image_tag skill.image(:thumb) %>(<%= UserSkill.skill_level(@user, skill) %>)
        </a>
      <% end %>

      <div class="dropdown">
        <a href="#" class"dropdown-toggle" data-toggle="dropdown">
          Add more skills <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <% Skill.all.each do |skill| %>
            <li><%= link_to skill.title, add_skill_path(userskill: {skill_id: skill.id, user_id: @user.id, level: 1}), method: :post %></li>
          <% end %>
        </ul>
      </div>
    </dd>

    <dt>Jobs matching you</dt>
    <dd>
      <%= render Job.jobs_matching_user_skills(@user) %>
    </dd>
  </div>
</div>
